<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <script> if (location.hostname === "www.rskybox.com") { location.href = "https://rskybox-stretchcom.appspot.com"; } </script>
    <title>rSkybox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/jquery.mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
    <link rel="stylesheet" href="/css/styles.css">
    <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
    <script>
      jQuery || document.write('<script src="\/js\/lib\/jquery-1.7.1.min.js"><\/script\>')
    </script>
    <script src="/js/lib/jquery.mobile.router.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
    <script>
      jQuery.mobile || document.write('<script src="\/js\/lib\/jquery.mobile-1.0.1.min.js"\><\/script\>')
    </script>
    <script src="/js/lib/underscore-min.js"></script>
    <script src="/js/lib/backbone-min.js"></script>
    <script src="/js/lib/cookie.js"></script>
    <script src="/js/models/base.js"></script>
    <script src="/js/models/log.js"></script>
    <script src="/js/helpers/app.js"></script>
    <script src="/js/models/user.js"></script>
    <script src="/js/models/carrier.js"></script>
    <script src="/js/models/signup.js"></script>
    <script src="/js/models/confirm.js"></script>
    <script src="/js/models/member.js"></script>
    <script src="/js/models/login.js"></script>
    <script src="/js/views/carriers.js"></script>
    <script src="/js/views/signup.js"></script>
    <script src="/js/views/confirm.js"></script>
    <script src="/js/views/login.js"></script>
    <script src="/js/controllers/signup.js"></script>
  </head>
  <body>

    <div data-role="page" id="signup" data-title="rSkybox Signup">
      <div data-role="header">
        <h1>rSkybox Signup</h1>
        <a href="#login" class="ui-btn-right" data-icon="arrow-r" data-iconpos="right">Log In</a>
      </div>
      <div data-role="content">
        <form id="signupForm"></form>
      </div>
    </div>
    <script type="text/template" id="signupTemplate">
      <ul data-role="listview">
        <li style="text-align: center;">
          <strong>Watch your application from the best seat in the house.</strong>
          <h1>Sign Up Using</h1>
        </li>
        <li data-role="fieldcontain">
          <label for="emailAddress" class="ui-hidden-accessible">Email Address:</label>
          <input type="email" name="emailAddress" placeholder="Email Address" value="<%= emailAddress %>">
          <h3>or</h3>
          <label for="phoneNumber" class="ui-hidden-accessible">Phone Number:</label>
          <input type="tel" name="phoneNumber" placeholder="Phone Number" value="<%= phoneNumber %>">
          <label for="mobileCarrierId" class="ui-hidden-accessible">Mobile Carrier:</label>
          <select name="mobileCarrierId" id="mobileCarrierId" value="<%= mobileCarrierId %>"></select>
        </li>
        <li data-role="fieldcontain">
          <input type="submit" value="Request Confirmation Code">
        </li>
      </ul>
    </script>

    <div data-role="page" id="confirm">
      <div data-role="header">
        <a href="#signup" data-icon="arrow-l" data-direction="reverse">Cancel</a>
        <h1>Complete Signup</h1>
      </div>
      <div data-role="content">
        <form id="confirmForm"></form>
      </div>
    </div>
    <script type="text/template" id="confirmTemplate">
      <ul data-role="listview">
        <li id="emailWrapper" style="display: none" data-role="fieldcontain">
          <h1>Email Address</h1>
          <label class="ui-hidden-accessible">Email address: </label>
          <input type="email" name="emailAddress" value="<%= emailAddress %>" readonly>
          <label class="ui-hidden-accessible">Email confirmation code:</label>
          <input name="emailConfirmationCode" placeholder="Confirmation Code" value="<%= emailConfirmationCode %>">
        </li>
        <li id="phoneWrapper" style="display: none;" data-role="fieldcontain">
          <h1>Phone Number</h1>
          <label class="ui-hidden-accessible">Phone number: </label>
          <input type="tel" name="phoneNumber" value="<%= phoneNumber %>" readonly>
          <label class="ui-hidden-accessible">Phone confirmation code:</label>
          <input name="phoneConfirmationCode" placeholder="Confirmation Code" value="<%= phoneConfirmationCode %>">
        </li>
        </li>
        <li id="passwordWrapper" data-role="fieldcontain">
          <h1>Password</h1>
          <label class="ui-hidden-accessible">Password (min 6 chars):</label>
          <input name="password" placeholder="Password" autocorrect="off" autocapitalize="off">
        </li>
        <li data-role="fieldcontain">
          <input type="submit" value="Complete Sign Up">
        </li>
    </script>

    <div data-role="page" id="login" data-title="Login">
      <div data-role="header">
        <a href="#signup" data-icon="arrow-l" data-direction="reverse">Cancel</a>
        <h1>Login</h1>
      </div>
      <div data-role="content">
        <form id="loginForm"></form>
      </div>
    </div>
    <script type="text/template" id="loginTemplate">
      <ul data-role="listview">
        <li data-role="fieldcontain">
          <label for="emailAddress" class="ui-hidden-accessible">Email Address:</label>
          <input type="email" name="emailAddress" placeholder="Email Address" value="<%= emailAddress %>">
          <div style="text-align: center;">
            <strong>or</strong>
          </div>
          <label for="phoneNumber" class="ui-hidden-accessible">Phone Number:</label>
          <input type="tel" name="phoneNumber" placeholder="Phone Number" value="<%= phoneNumber %>">
        </li>
        <li data-role="fieldcontain">
          <label for="password" class="ui-hidden-accessible">Password:</label>
          <input name="password" placeholder="Password" value="<%= password %>" autocorrect="off" autocapitalize="off">

        <li data-role="fieldcontain">
          <input type="submit" value="Login">
        </li>
      </ul>
    </script>
  </body>
</html>
