<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <script> if (location.hostname === "www.rskybox.com") { location.href = "https://rskybox-stretchcom.appspot.com"; } </script>
    <title>rSkybox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/jquery.mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
    <link rel="stylesheet" href="/css/styles.css">
    <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
    <script>
      jQuery || document.write('<script src="\/js\/lib\/jquery-1.7.1.min.js"><\/script\>')
    </script>
    <script src="/js/lib/jquery.mobile.router.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
    <script>
      jQuery.mobile || document.write('<script src="\/js\/lib\/jquery.mobile-1.0.1.min.js"\><\/script\>')
    </script>
    <script src="/js/lib/underscore-min.js"></script>
    <script src="/js/lib/backbone-min.js"></script>
    <script src="/js/lib/cookie.js"></script>
    <script src="/js/models/base.js"></script>
    <script src="/js/models/log.js"></script>
    <script src="/js/helpers/app.js"></script>
    <script src="/js/models/user.js"></script>
    <script src="/js/models/carrier.js"></script>
    <script src="/js/models/application.js"></script>
    <script src="/js/models/feedback.js"></script>
    <script src="/js/models/member.js"></script>
    <script src="/js/models/enduser.js"></script>
    <script src="/js/models/crash.js"></script>
    <script src="/js/views/base.js"></script>
    <script src="/js/views/applications.js"></script>
    <script src="/js/views/settings.js"></script>
    <script src="/js/views/carriers.js"></script>
    <script src="/js/views/feedback.js"></script>
    <script src="/js/views/logs.js"></script>
    <script src="/js/views/crashes.js"></script>
    <script src="/js/views/members.js"></script>
    <script src="/js/views/endusers.js"></script>
    <script src="/js/controllers/main.js"></script>
  </head>
  <body>
    <!-- Applications -->
    <div data-role="page" id="applications" data-title="Applications">
      <div data-role="header">
        <a href="#settings" data-icon="gear" data-direction="reverse">Settings</a>
        <h1>Applications</h1>
        <a href="#newApp" data-icon="plus" data-iconpos="right">New</a>
      </div>
      <div data-role="content"></div>
    </div>
    <script type="text/template" id="noAppsTemplate">
      <h3>
        You don't have any applications, yet.
      </h3>
      <p>
        Why don't you add one? Use the New App button above right.
      </p>
    </script>
    <script type="text/template" id="appEntryTemplate">
      <a href="#application?id=<%= id %>"><%= name %><%= version && (', ' + version) %> <% role === 'member' ? '' : print('(' + role + ')')%></a>
    </script>


    <!-- Application -->
    <div data-role="page" id="application" data-title="Application">
      <div data-role="header">
        <a href="#applications" data-direction="reverse" data-icon="home">Home</a>
        <h1>Application</h1>
      </div>
      <div data-role="content"></div>
    </div>
    <script type="text/template" id="applicationTemplate">
      <ul data-role="listview" data-inset="true">
        <li><a href="#logs?id=<%= id %>">Logs</a></li>
        <li><a href="#crashes?id=<%= id %>">Crashes</a></li>
        <li><a href="#feedbackList?id=<%= id %>">Feedback</a></li>
      </ul>
      <% if (role !== 'member') { %>
        <ul data-role="listview" data-inset="true">
          <li><a href="#members?id=<%= id %>">Members</a></li>
          <li><a href="#endusers?id=<%= id %>">End Users</a></li>
        </ul>
      <% } %>
      <ul data-role="listview" data-inset="true">
        <li>App Name: <%= name %></li>
        <li>Version: <%= version ? version : 'n/a' %></li>
        <li>Role: <%= role %></li>
        <li>AppId: <%= id %></li>
        <li>Token: <%= token %></li>
        <li>Created: <%= date %></li>
      </ul>
    </script>


    <!-- New Application -->
    <div data-role="page" id="newApp" data-title="New Application">
      <div data-role="header">
        <a href="#applications" data-icon="arrow-l" data-direction="reverse">Cancel</a>
        <h1>New Application</h1>
      </div>
      <div data-role="content">
        <form id="newAppForm"></form>
      </div>
    </div>
    <script type="text/template" id="newAppTemplate">
      <div>
        <label for="name" class="ui-hidden-accessible">Application Name:</label>
        <input name="name" placeholder="Application Name" value="<%= name %>"></input>
      </div>
      <div>
        <label for="version" class="ui-hidden-accessible">Application Version:</label>
        <input name="version" placeholder="Application Version" value="<%= version %>"></input>
      </div>
      <input type="submit" value="Save">
    </script>


    <!-- Settings -->
    <div data-role="page" id="settings" data-title="Settings">
      <div data-role="header">
        <a href="#" class="logout">Logout</a>
        <h1>Settings</h1>
        <a href="#applications" data-icon="home" data-iconpos="right">Home</a>
      </div>
      <div data-role="content">
        <form id="settingsForm"></form>
      </div>
    </div>
    <script type="text/template" id="settingsTemplate">
      <% if (isSuperAdmin) { %>
        <button class="admin" data-inline="true" data-icon="star">Users Admin</button>
      <% } %>
      <ul data-role="listview" data-inset="true">
        <li data-role="fieldcontain">
          <h3>Name</h3>
          <label for="firstName" class="ui-hidden-accessible">First Name:</label>
          <input name="firstName" id="firstName" value="<%= firstName %>" placeholder="First Name">
          <label for="lastName" class="ui-hidden-accessible">Last Name:</label>
          <input name="lastName" id="lastName" value="<%= lastName %>" placeholder="Last Name">
        </li>
        <li data-role="fieldcontain">
          <h3>Email</h3>
          <% if (isEmailConfirmed) { %>
            <p><%= emailAddress %></p>
            <input type="checkbox" name="sendEmailNotifications" id="sendEmailNotifications"<% if (sendEmailNotifications) { %> checked <% } %>>
            <label for="sendEmailNotifications">Receive email notifications</label>
          <% } else { %>
            <% if (emailAddress) { %>
              <label for="emailConfirmationCode">Please enter your confirmation code:</label>
              <input name="emailConfirmationCode" placeholder="Confirmation Code" value="<%= emailConfirmationCode %>">
              <button class="emailConfirmationCode">Confirm Email</button>
            <% } %>
            <label for="emailAddress" class="ui-hidden-accessible">Email address:</label>
            <input type="email" name="emailAddress" id="emailAddress" value="<%= emailAddress %>" placeholder="Email Address">
            <button class="requestEmailConfirmation">Request Confirmation</button>
          <% } %>
        </li>
        <li data-role="fieldcontain">
          <h3>Phone</h3>
          <% if (isSmsConfirmed) { %>
            <p><%= phoneNumber %></p>
            <input type="checkbox" name="sendSmsNotifications" id="sendSmsNotifications"<% if (sendSmsNotifications) { %> checked <% } %>>
            <label for="sendSmsNotifications">Receive SMS notifications</label>
          <% } else { %>
            <% if (phoneNumber) { %>
              <label for="phoneConfirmationCode">Please enter your confirmation code:</label>
              <input name="phoneConfirmationCode" placeholder="Confirmation Code" value="<%= phoneConfirmationCode %>">
              <button class="phoneConfirmationCode">Confirm Phone</button>
              <hr>
            <% } %>
            <label for="phoneNumber" class="ui-hidden-accessible">Phone number:</label>
            <input type="tel" name="phoneNumber" id="phoneNumber" value="<%= phoneNumber %>" placeholder="Phone Number">
            <label for="mobileCarrierId" class="ui-hidden-accessible">Mobile carrier:</label>
            <select name="mobileCarrierId" id="mobileCarrierId"></select>
            <button class="requestSmsConfirmation">Request Confirmation</button>
          <% } %>
        </li>
        <li data-role="fieldcontain">
          <h3>Change Password</h3>
          <label for="password" class="ui-hidden-accessible">Password:</label>
          <input name="password" id="password" placeholder="Password" autocorrect="off" autocapitalize="off">
          <button class="savePassword">Save Password</button>
        </li>
      </ul>
    </script>


    <!-- Feedback -->
    <div data-role="page" id="feedbackList" data-title="Feedback">
      <div data-role="header">
        <a href="#" data-rel="back" data-icon="arrow-l">Back</a>
        <h1>Feedback</h1>
        <a href="#feedbackList" data-theme="b" data-icon="check" data-iconpos="right" class="archives">Archives</a>
      </div>
      <div data-role="content"></div>
    </div>
    <script type="text/template" id="noFeedbackTemplate">
      <h3>No feedback at this time.</h3>
    </script>
    <script type="text/template" id="feedbackEntryTemplate">
      <a href="#feedback?id=<%= id %>&appId=<%= appId %>"><%= userName %>:
        <% if (instanceUrl) { print(instanceUrl + ', '); } %><%= date %></a>
    </script>

    <div data-role="page" id="feedback" data-title="Feedback">
      <div data-role="header">
        <a href="#" data-rel="back" data-icon="arrow-l">Back</a>
        <h1>Feedback</h1>
      </div>
      <div data-role="content"></div>
    </div>
    <script type="text/template" id="feedbackTemplate">
      <ul data-role="listview" data-inset="true">
        <li>
          <audio controls>
            <source src="<%= audioUrl %>.mp4" type="audio/mp4">
          </audio>
        </li>
        <li>Recorded: <%= date %></li>
        <li>By: <%= userName %></li>
        <% if (instanceUrl) { %>
          <li>For: <%= instanceUrl %></li>
        <% } %>
        <li>
          Status: <%= status %>
          <button class="changeStatus" data-inline="true" data-theme="b">
            <%= status === 'new' ? 'Archive' : 'Un-archive' %>
          </button>
        </li>
      </ul>
    </script>


    <!-- Logs -->
    <div data-role="page" id="logs" data-title="Logs">
      <div data-role="header">
        <a href="#" data-rel="back" data-icon="arrow-l">Back</a>
        <h1>Logs</h1>
        <a href="#logs" data-theme="b" data-icon="check" data-iconpos="right" class="archives">Archives</a>
      </div>
      <div data-role="content"></div>
    </div>
    <script type="text/template" id="noLogsTemplate">
      <h3>No logs at this time.</h3>
    </script>
    <script type="text/template" id="logEntryTemplate">
      <a href="#log?id=<%= id %>&appId=<%= appId %>">
        <h3><%= date %> <%= logMode === 'inactive' ? '(inactive)' : '' %></h3>
        <p><%= logName %></p>
        <p><%= message %></p></a>
    </script>

    <div data-role="page" id="log" data-title="Log">
      <div data-role="header">
        <a href="#" data-rel="back" data-icon="arrow-l">Back</a>
        <h1>Log</h1>
      </div>
      <div data-role="content"></div>
    </div>
    <script type="text/template" id="logTemplate">
      <ul data-role="listview" data-inset="true">
        <li>Log Name: <%= logName %></li>
        <li>Created: <%= date %></li>
        <li>
          Mode: <%= logMode %>
          <button class="mode" data-inline="true">
            <%= (logMode === 'inactive') ? 'Activate' : 'Deactivate' %> Log Series
          </button>
        </li>
        <li>User: <%= userName %></li>
        <% if (instanceUrl) { %>
          <li>For: <%= instanceUrl %></li>
        <% } %>
        <li>Log Level: <%= logLevel %></li>
        <li>Message: <%= message %></li>
        <li>
          Status: <%= status %>
          <button class="changeStatus" data-inline="true" data-theme="b">
            <%= status === 'new' ? 'Archive' : 'Un-archive' %>
          </button>
        </li>
        <% if (appActions) { %>
          <li>
            <h3>App Actions:</h3>
            <% var on = false; %>
            <% appActions.forEach(function(action) { %>
              <div style="background-color: <%= on ? 'beige' : 'transparent' %>;">
                <%= action.timestamp %>
                <% if (action.duration) { %>
                  - <%= action.duration %>ms
                <% } %>
                <br>
                <%= action.description %>
              </div>
              <% on = !on; %>
            <% }); %>
          </li>
        <% } %>
        <li>Stack Back Trace:<br><%= stackBackTrace %></li>
      </ul>
    </script>


    <!-- Crashes -->
    <div data-role="page" id="crashes" data-title="Crashes">
      <div data-role="header">
        <a href="#" data-rel="back" data-icon="arrow-l">Back</a>
        <h1>Crashes</h1>
        <a href="#crashes" data-theme="b" data-icon="check" data-iconpos="right" class="archives">Archives</a>
      </div>
      <div data-role="content"></div>
    </div>
    <script type="text/template" id="noCrashesTemplate">
      <h3>No crashes at this time.</h3>
    </script>
    <script type="text/template" id="crashEntryTemplate">
      <a href="#crash?id=<%= id %>&appId=<%= appId %>"><%= userName ? userName + ':' : '' %>
        <%= instanceUrl ? instanceUrl + ', ' : '' %><%= date %></a>
    </script>

    <div data-role="page" id="crash" data-title="Crash">
      <div data-role="header">
        <a href="#" data-rel="back" data-icon="arrow-l">Back</a>
        <h1>Crash</h1>
      </div>
      <div data-role="content"></div>
    </div>
    <script type="text/template" id="crashTemplate">
      <ul data-role="listview" data-inset="true">
        <li>Detected: <%= date %></li>
        <% if (userName) { %>
          <li>User: <%= userName %></li>
        <% } %>
        <% if (instanceUrl) { %>
          <li>For: <%= instanceUrl %></li>
        <% } %>
        <li>
          Status: <%= status %>
          <button class="changeStatus" data-inline="true" data-theme="b">
            <%= status === 'new' ? 'Archive' : 'Un-archive' %>
          </button>
        </li>
        <li>Summary: <%= summary %></li>
        <% if (appActions) { %>
          <li>
            <h3>App Actions:</h3>
            <% var on = false; %>
            <% appActions.forEach(function(action) { %>
              <div style="background-color: <%= on ? 'beige' : 'transparent' %>;">
                <%= action.timestamp %>
                <% if (action.duration) { %>
                  - <%= action.duration %>ms
                <% } %>
                <br>
                <%= action.description %>
              </div>
              <% on = !on; %>
            <% }); %>
          </li>
        <% } %>
      </ul>
      Crash Stack Data: <a href="/crashStackData/<%= appId %>/<%= id %>.plcrash" data-ajax="false">plcrash file</a>
    </script>


    <!-- Members -->
    <div data-role="page" id="members" data-title="Members">
      <div data-role="header">
        <a href="#" data-rel="back" data-icon="arrow-l">Back</a>
        <h1>Members</h1>
        <a href="#" class="newMember" data-icon="plus" data-iconpos="right">New</a>
      </div>
      <div data-role="content"></div>
    </div>
    <script type="text/template" id="noMembersTemplate">
      <h3>No members at this time.</h3>
    </script>
    <script type="text/template" id="memberEntryTemplate">
      <a href="#member?id=<%= id %>&appId=<%= appId %>"><%= display %></a>
    </script>

    <div data-role="page" id="member" data-title="Member">
      <div data-role="header">
        <a href="#" data-rel="back" data-icon="arrow-l">Back</a>
        <h1>Member</h1>
      </div>
      <div data-role="content"></div>
    </div>
    <script type="text/template" id="memberTemplate">
      <ul data-role="listview" data-inset="true">
        <li>Created: <%= date %></li>
        <li>Email: <%= emailAddress %></li>
        <li>Phone: <%= phoneNumber %></li>
        <li>Role: <%= role %></li>
        <li>Status: <%= status %></li>
      </ul>
      <button class="delete" data-icon="delete" data-theme="a">Delete Member</button>
    </script>

    <!-- New Member -->
    <div data-role="page" id="newMember" data-title="New Member">
      <div data-role="header">
        <a href="#" data-rel="back" data-icon="arrow-l">Cancel</a>
        <h1>New Member</h1>
      </div>
      <div data-role="content">
        <form id="newMemberForm"></form>
      </div>
    </div>
    <script type="text/template" id="newMemberTemplate">
      <div>
        <label for="emailAddress" class="ui-hidden-accessible">Email Address:</label>
        <input name="emailAddress" placeholder="Email Address" value="<%= emailAddress %>"></input>
      </div>
      <div>
        <label for="role" class="ui-hidden-accessible">Role:</label>
        <select name="role">
          <option value="">Select Role</option>
          <option value="manager">Manager</option>
          <option value="member">Member</option>
        </select>
      </div>
      <input type="submit" value="Save">
    </script>


    <!-- End Users -->
    <div data-role="page" id="endusers" data-title="End Users">
      <div data-role="header">
        <a href="#" data-rel="back" data-icon="arrow-l">Back</a>
        <h1>End Users</h1>
      </div>
      <div data-role="content"></div>
    </div>
    <script type="text/template" id="noEndusersTemplate">
      <h3>No End Users at this time.</h3>
    </script>
    <script type="text/template" id="enduserEntryTemplate">
      <a href="#enduser?id=<%= id %>&appId=<%= appId %>"><%= userName %> : <%= version %></a>
    </script>

    <div data-role="page" id="enduser" data-title="End User">
      <div data-role="header">
        <a href="#" data-rel="back" data-icon="arrow-l">Back</a>
        <h1>End User</h1>
      </div>
      <div data-role="content"></div>
    </div>
    <script type="text/template" id="enduserTemplate">
      <ul data-role="listview" data-inset="true">
        <li>Username: <%= userName %></li>
        <li>Application: <%= application %></li>
        <li>Version: <%= version %></li>
        <li>For: <%= instanceUrl %></li>
      </ul>
    </script>

  </body>
</html>
