<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <script> if (location.hostname === "www.rskybox.com") { location.href = "https://rskybox-stretchcom.appspot.com"; } </script>
    <title>rSkybox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
    <link rel="stylesheet" href="/css/styles.css">
    <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
    <script>
      jQuery || document.write('<script src="/js/lib/jquery-1.7.1.min.js"><\/script>')
    </script>
    <script src="/js/lib/jquery.mobile.router.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
    <script>
      jQuery.mobile || document.write('<script src="/js/lib/jquery.mobile-1.1.0.min.js"><\/script>')
    </script>
    <script src="/js/lib/underscore-min.js"></script>
    <script src="/js/lib/backbone-min.js"></script>
    <script src="/js/lib/cookie.js"></script>
    <script src="/js/lib/date.format.js"></script>
    <script src="/js/lib/BlobBuilder.min.js"></script>
    <script src="/js/lib/FileSaver.min.js"></script>
    <script src="/js/helpers/util.js"></script>
    <script src="/js/lib/rskybox.js"></script>
    <script src="/js/lib/rskybox-config.js"></script>
    <script src="/js/helpers/store.js"></script>
    <script src="/js/helpers/session.js"></script>
    <script src="/js/models/base.js"></script>
    <script src="/js/models/packet.js"></script>
    <script src="/js/models/stream.js"></script>
    <script src="/js/models/incident.js"></script>
    <script src="/js/models/user.js"></script>
    <script src="/js/models/carrier.js"></script>
    <script src="/js/models/application.js"></script>
    <script src="/js/models/member.js"></script>
    <script src="/js/models/endpointFilter.js"></script>
    <script src="/js/models/enduser.js"></script>
    <script src="/js/views/base.js"></script>
    <script src="/js/views/applications.js"></script>
    <script src="/js/views/settings.js"></script>
    <script src="/js/views/carriers.js"></script>
    <script src="/js/views/feedback.js"></script>
    <script src="/js/views/streams.js"></script>
    <script src="/js/views/logs.js"></script>
    <script src="/js/views/crashes.js"></script>
    <script src="/js/views/members.js"></script>
    <script src="/js/views/endpointFilters.js"></script>
    <script src="/js/views/endusers.js"></script>
    <script src="/js/controllers/main.js"></script>
  </head>
  <body>

    <!-- Apps -->
    <div data-role="page" id="applications" data-title="Apps">
      <div data-role="header">
        <a href="#settings" data-icon="gear" data-mini="true">Settings</a>
        <h1>Apps</h1>
        <a href="#newApp" data-icon="plus" data-iconpos="right" data-mini="true">New</a>
      </div>
      <div data-role="content"></div>
    </div>
    <script type="text/template" id="noAppsTemplate">
      <h3>
        Welcome to rSkybox!
      </h3>
      <p>
        Add your first application using the New App button top right.
      </p>
      <p>
        Add more information to your account using the Settings button top left.
      </p>
    </script>
    <script type="text/template" id="appEntryTemplate">
      <a href="#application?appId=<%= id %>"><%- name %> <%- version %> <%- role === 'member' ? '' : '(' + role + ')' %></a>
    </script>


    <!-- App -->
    <div data-role="page" id="application" data-title="App">
      <div data-role="header">
        <a href="#applications" data-icon="home" data-mini="true">Apps</a>
        <h1>App</h1>
      </div>
      <div class="applicationName"></div>
      <div data-role="content"></div>
    </div>
    <script type="text/template" id="applicationTemplate">
      <ul data-role="listview" data-inset="true">
        <li><a href="#streams?appId=<%= id %>">Live Debug</a></li>
        <li><a href="#endpointFilters?appId=<%= id %>">Endpoint Filters <%= allFilterActive ? '("ALL" filter enabled)' : '' %></a></li>
      </ul>
      <ul data-role="listview" data-inset="true">
        <li>
          <a href="#logs?appId=<%= id %>">Logs</a>
          <span class="ui-li-count count-bubble"><%= numberOfOpenLogs ? numberOfOpenLogs : 0 %></span>
        </li>
        <li>
          <a href="#crashes?appId=<%= id %>">Crashes</a>
          <span class="ui-li-count count-bubble"><%= numberOfOpenCrashes ? numberOfOpenCrashes : 0 %></span>
        </li>
        <li>
          <a href="#feedbackList?appId=<%= id %>">Feedback</a>
          <span class="ui-li-count count-bubble"><%= numberOfOpenFeedback ? numberOfOpenFeedback : 0 %></span>
        </li>
      </ul>
      <% if (role !== 'member') { %>
        <ul data-role="listview" data-inset="true">
          <li><a href="#members?appId=<%= id %>">Members</a></li>
          <li><a href="#endusers?appId=<%= id %>">End Users</a></li>
        </ul>
      <% } %>
      <ul data-role="listview" data-inset="true">
        <li>App Name: <%- name %></li>
        <li>Version: <%- version ? version : 'n/a' %></li>
        <li>Role: <%- role %></li>
        <li class="long-lines">AppId: <%= id %></li>
        <li>Token: <%= token %></li>
        <li>Created: <%= date %></li>
      </ul>
      <h3>Agents</h3>
      <p>Files will be downloaded to your default download location.</p>
      <ul data-role="listview" data-inset="true" data-mini="true">
        <li data-role="list-divider">JavaScript/HTML5</li>
        <li><a href="#" class="library">Library (rskybox.js)</a></li>
        <li><a href="#" class="config">Your Config (rskybox-config.js)</a></li>
      </ul>
    </script>


    <!-- New App -->
    <div data-role="page" id="newApp" data-title="New App">
      <div data-role="header">
        <a href="#applications" data-icon="arrow-l" data-mini="true">Cancel</a>
        <h1>New App</h1>
      </div>
      <div data-role="content">
        <form id="newAppForm"></form>
      </div>
    </div>
    <script type="text/template" id="newAppTemplate">
      <div>
        <label for="name" class="ui-hidden-accessible">App Name:</label>
        <input name="name" placeholder="App Name" value="<%= name %>" data-mini="true"></input>
      </div>
      <div>
        <label for="version" class="ui-hidden-accessible">App Version:</label>
        <input name="version" placeholder="App Version" value="<%= version %>" data-mini="true"></input>
      </div>
      <input type="submit" value="Save" data-mini="true">
    </script>


    <!-- Settings -->
    <div data-role="page" id="settings" data-title="Settings">
      <div data-role="header">
        <a href="#" class="logout" data-mini="true">Logout</a>
        <h1>Settings</h1>
        <a href="#applications" data-icon="home" data-iconpos="right" data-mini="true">Apps</a>
      </div>
      <div data-role="content">
        <form id="settingsForm"></form>
      </div>
    </div>
    <script type="text/template" id="settingsTemplate">
      <% if (false && isSuperAdmin) { %>
        <button class="admin" data-inline="true" data-icon="star" data-mini="true">Users Admin</button>
      <% } %>
      <ul data-role="listview" data-inset="true">
        <li data-role="fieldcontain">
          <h3>Name</h3>
          <label for="firstName" class="ui-hidden-accessible">First Name:</label>
          <input name="firstName" id="firstName" value="<%- firstName %>" placeholder="First Name" data-mini="true">
          <label for="lastName" class="ui-hidden-accessible">Last Name:</label>
          <input name="lastName" id="lastName" value="<%- lastName %>" placeholder="Last Name" data-mini="true">
        </li>
        <li data-role="fieldcontain">
          <h3>Email</h3>
          <% if (isEmailConfirmed) { %>
            <p><%= emailAddress %></p>
            <input type="checkbox" name="sendEmailNotifications" id="sendEmailNotifications"<% if (sendEmailNotifications) { %> checked <% } %> data-mini="true">
            <label for="sendEmailNotifications">Receive email notifications</label>
          <% } else { %>
            <% if (emailAddress) { %>
              <label for="emailConfirmationCode">Confirmation code for <%- emailAddress %>:</label>
              <input type="hidden" name="confirmEmailAddress" value="<%- emailAddress %>">
              <input name="emailConfirmationCode" placeholder="Confirmation Code" value="<%- emailConfirmationCode %>" data-mini="true">
              <button class="confirmEmail" data-mini="true">Confirm Email</button>
              <hr>
            <% } %>
            <label for="emailAddress" class="ui-hidden-accessible">Email address:</label>
            <input type="email" name="emailAddress" id="emailAddress" value="<%- emailAddress %>" placeholder="Email Address" autocorrect="off" autocapitalize="off" data-mini="true">
            <button class="requestEmailConfirmation" data-mini="true">Request Confirmation</button>
          <% } %>
        </li>
        <li data-role="fieldcontain">
          <h3>Phone</h3>
          <% if (isSmsConfirmed) { %>
            <p><%- phoneNumber %></p>
            <input type="checkbox" name="sendSmsNotifications" id="sendSmsNotifications"<% if (sendSmsNotifications) { %> checked <% } %> data-mini="true">
            <label for="sendSmsNotifications">Receive SMS notifications</label>
          <% } else { %>
            <% if (phoneNumber) { %>
              <label for="phoneNumberConfirmationCode">Confirmation code for <%- phoneNumber %>:</label>
              <input type="hidden" name="confirmPhoneNumber" value="<%- phoneNumber %>">
              <input name="phoneNumberConfirmationCode" placeholder="Confirmation Code" value="<%= phoneConfirmationCode %>" data-mini="true">
              <button class="confirmPhone" data-mini="true">Confirm Phone</button>
              <hr>
            <% } %>
            <label for="phoneNumber" class="ui-hidden-accessible">Phone number:</label>
            <input type="tel" name="phoneNumber" id="phoneNumber" value="<%- phoneNumber %>" placeholder="Phone Number" data-mini="true">
            <label for="mobileCarrierId" class="ui-hidden-accessible">Mobile carrier:</label>
            <select name="mobileCarrierId" id="mobileCarrierId" data-mini="true"></select>
            <button class="requestSmsConfirmation" data-mini="true">Request Confirmation</button>
          <% } %>
        </li>
        <li data-role="fieldcontain">
          <h3>Change Password</h3>
          <label for="password" class="ui-hidden-accessible">Password:</label>
          <input name="password" id="password" placeholder="Password" autocorrect="off" autocapitalize="off" data-mini="true">
          <button class="savePassword" data-mini="true">Save Password</button>
        </li>
      </ul>
    </script>


    <!-- Feedback -->
    <div data-role="page" id="feedbackList" data-title="Feedback">
      <div data-role="header">
        <a href="#" class="back" data-icon="arrow-l" data-mini="true">App</a>
        <h1>Feedback</h1>
        <a href="#feedbackList" data-theme="b" data-icon="check" data-iconpos="right" class="status" data-mini="true">Closed</a>
      </div>
      <div class="applicationName"></div>
      <div data-role="content">
      </div>
    </div>
    <script type="text/template" id="noFeedbackTemplate">
      <h3>No feedback at this time.</h3>
    </script>
    <script type="text/template" id="feedbackEntryTemplate">
      <a href="#feedback?id=<%= id %>&appId=<%= appId %>">
        <h1>#<%= number %> - Severity: <%= severity %> <%= status === 'closed' ? '(closed)' : '' %></h1>
        <p><%= RSKYBOX.format.longDate(lastUpdatedDate) %></p>
        <p>Local Endpoint: <%- localEndpoint %></p>
        <p>Remote Endpoint: <%- remoteEndpoint %></p>
        <p><%- name %></p>
        <p><%- message %></p></a>
        <span class="ui-li-count count-bubble"><%= eventCount %></span>
    </script>

    <div data-role="page" id="feedback" data-title="Feedback">
      <div data-role="header">
        <a href="#" class="back" data-icon="arrow-l" data-mini="true">List</a>
        <h1>Feedback</h1>
      </div>
      <div class="applicationName"></div>
      <div data-role="content"></div>
    </div>
    <script type="text/template" id="feedbackTemplate">
      <ul data-role="listview" data-inset="true">
        <li class="long-lines">#<%= number %> - <%- name %></li>
        <li>Severity: <%= severity %></li>
        <li>Local Endpoint: <%- localEndpoint %></li>
        <li>Remote Endpoint: <%- remoteEndpoint %></li>
        <li><%- message %></li>
        <li><%- summary %></li>
        <li>Created: <%= RSKYBOX.format.longDate(createdDate) %></li>
        <li>Updated: <%= RSKYBOX.format.longDate(lastUpdatedDate) %></li>
        <li>
          <button class="changeStatus" data-inline="true" data-theme="b" data-mini="true">
            <%= status === 'open' ? 'Close' : 'Re-open' %>
          </button>
        </li>
      </ul>
      <% if (events && events.feedback) { %>
        <p>
          <strong>Feedback (<%= eventCount %>)</strong>
        </p>
        <% events.feedback.forEach(function (f) { %>
          <div data-theme='c' data-content-theme='c' data-mini='true'>
            <ul data-role="listview" data-inset="true">
              <li>
                <audio controls>
                  <source src="<%= '/audio/' + f.appId + '/' + f.id %>.mp4" type="audio/mp4">
                </audio>
              </li>
              <li>Recorded: <%= f.date %></li>
              <li>By: <%- f.userName %></li>
              <% if (f.instanceUrl) { %>
                <li>For: <%- f.instanceUrl %></li>
              <% } %>
            </ul>
          </div>
        <% }); %>
      <% } %>
    </script>


    <!-- Streams -->
    <div data-role="page" id="streams" data-title="Live Debug Streams">
      <div data-role="header">
        <a href="#" class="back" data-icon="arrow-l" data-mini="true">App</a>
        <h3>Live Debug Streams</h3>
      </div>
      <div data-role="content">
			</div> <!-- end of content -->
    </div>
    <script type="text/template" id="noStreamsTemplate">
      <h3>No streams at this time.</h3>
    </script>
    <script type="text/template" id="streamEntryTemplate">
      <a href="#stream?id=<%= id %>&appId=<%= appId %>">
        <h1><%= name %></h1>
        <p><%= RSKYBOX.format.longDate(createdDate) %></p>
        <p class="streamStatus">
          <% if(status === 'init') { %>
            <% if(endUserId) {%>
              ready to join
            <% } else { %>
              waiting for end user to join
            <% } %>
          <% } else { %>
            <%= status %>
          <% } %>
        </p>
        <p>
          <% if(endUserId) { %>
            End User: <%= endUserId %>
          <% } %>
        </p>
        <p>
          <% if(memberId) { %>
            Member: <%= memberId %>
          <% } %>
        </p>
      </a>
      <div class="ui-grid-b streamActions">
        <% if(status === 'init' && endUserId) { %>
          <button class="join" data-inline="true" data-mini="true">Join</button>
          <button class="close" style="display:none;" data-inline="true" data-mini="true">Close</button>
        <% } %>
        <% if(status === 'open' && endUserId) { %>
          <button class="close" data-inline="true" data-mini="true">Close</button>
          <button class="join" style="display:none;" data-inline="true" data-mini="true">Join</button>
        <% } %>
      </div>
    </script>

    <div data-role="page" id="stream" data-title="Stream">
      <div data-role="header">
        <a href="#" class="back" data-icon="arrow-l" data-mini="true">List</a>
        <h1>Stream</h1>
      </div>
      <div class="applicationName"></div>
      <div data-role="content"></div>
    </div>
    <script type="text/template" id="noPacketsTemplate">
      <h3>No packets at this time.</h3>
    </script>
    <script type="text/template" id="packetsTemplate">
      <ul data-role="listview" data-inset="true">
      </ul>
    </script>


    <!-- Endpoint Filters -->
    <div data-role="page" id="endpointFilters" data-title="Endpoint Filters">
      <div data-role="header">
        <a href="#" class="back" data-icon="arrow-l" data-mini="true">App</a>
        <h1>Endpoint Filters</h1>
      </div>
      <div class="applicationName"></div>
      <div data-role="content"></div>
    </div>
    <script type="text/template" id="noEndpointFiltersTemplate">
      <h3>No endpoint filters at this time.</h3>
    </script>
    <script type="text/template" id="endpointFilterEntryTemplate">
      <p>
      Local: <%= localEndpoint %><br>
      Remote: <%= remoteEndpoint %></p>
      Status: <%= active ? 'active' : 'inactive' %>
    </script>


    <!-- Logs -->
    <div data-role="page" id="logs" data-title="Logs">
      <div data-role="header">
        <a href="#" class="back" data-icon="arrow-l" data-mini="true">App</a>
        <h3>Logs</h3>
        <a href="#logs" data-theme="b" data-icon="check" data-iconpos="right" class="status" data-mini="true">Closed</a>
      </div>
      <div class="applicationName"></div>
      <div data-role="content"></div>
    </div>
    <script type="text/template" id="noLogsTemplate">
      <h3>No logs at this time.</h3>
    </script>
    <script type="text/template" id="logEntryTemplate">
      <a href="#log?id=<%= id %>&appId=<%= appId %>">
        <h1>#<%= number %> - Severity: <%= severity %> <%= status === 'closed' ? '(closed)' : '' %></h1>
        <p><%= RSKYBOX.format.longDate(lastUpdatedDate) %></p>
        <p>Local Endpoint: <%- localEndpoint %></p>
        <p>Remote Endpoint: <%- remoteEndpoint %></p>
        <p><%- name %></p>
        <p><%- message %></p></a>
        <span class="ui-li-count count-bubble"><%= eventCount %></span>
    </script>

    <div data-role="page" id="log" data-title="Log">
      <div data-role="header">
        <a href="#" class="back" data-icon="arrow-l" data-mini="true">List</a>
        <h1>Log</h1>
      </div>
      <div class="applicationName"></div>
      <div data-role="content"></div>
    </div>
    <script type="text/template" id="logTemplate">
      <ul data-role="listview" data-inset="true">
        <li class="long-lines">#<%= number %> - <%- name %></li>
        <li>Severity: <%= severity %></li>
        <li>Local Endpoint: <%- localEndpoint %></li>
        <li>Remote Endpoint: <%- remoteEndpoint %></li>
        <li><%- message %></li>
        <li><%- summary %></li>
        <li>Created: <%= RSKYBOX.format.longDate(createdDate) %></li>
        <li>Updated: <%= RSKYBOX.format.longDate(lastUpdatedDate) %></li>
        <li>
          <button class="issueTracking" data-inline="true" data-mini="true">
            <%= (githubUrl === null || githubUrl.length === 0) ? 'Create Github Issue' : 'display issue on Github' %>
          </button>
          <button class="mode" data-inline="true" data-mini="true">
            <%= (mode === 'inactive') ? 'Activate' : 'Deactivate' %> Log Series
          </button>
          <button class="changeStatus" data-inline="true" data-theme="b" data-mini="true">
            <%= status === 'open' ? 'Close' : 'Re-open' %>
          </button>
        </li>
      </ul>
      <% if (events && events.logs) { %>
        <p>
          <strong>Logs (<%= eventCount %>)</strong>
        </p>
        <% events.logs.forEach(function (log) { %>
          <div data-role='collapsible' data-theme='c' data-content-theme='c' data-mini='true'>
            <h3>
              <%= log.logLevel %>: <%= RSKYBOX.format.compactDate(log.date) %><br>
              <%- log.message %><br>
              <% if (log.userName) { %>
                User: <%- log.userName %>
              <% } %>
            </h3>
            <ul data-role="listview" data-inset="true">
              <li>Summary: <%- log.summary %></li>
              <li>User ID: <%- log.userId %></li>
              <% if (log.instanceUrl) { %>
                <li class="long-lines">For: <%- log.instanceUrl %></li>
              <% } %>
              <% if (log.appActions) { %>
                <li>
                  <h3>App Actions (time - duration)</h3>
                  <% var on = false; %>
                  <% log.appActions.forEach(function (action) { %>
                    <div style="background-color: <%= on ? 'beige' : 'transparent' %>;">
                      <%= RSKYBOX.format.timeOnly(action.timestamp) %>
                      <% if (action.duration != undefined) { %>
                        - <%= RSKYBOX.format.milliseconds(action.duration) %>
                      <% } %>
                      <br>
                      <%- action.description %>
                    </div>
                    <% on = !on; %>
                  <% }); %>
                </li>
              <% } %>
            </ul>
            <% if (log.stackBackTrace.length > 0) { %>
              <div data-role="collapsible" data-theme="c" data-content-theme="c" data-mini="true">
                <h3>Stack Back Trace:</h3>
                <div class="long-lines"><% on = false;  log.stackBackTrace.forEach(function (line) { %><div style="background-color: <%= on ? 'beige' : 'transparent' %>;"><%- line %></div><% on = !on; %><% }); %></div>
              </div>
            <% } %>
          </div>
        <% }); %>
      <% } %>
    </script>


    <!-- Crashes -->
    <div data-role="page" id="crashes" data-title="Crashes">
      <div data-role="header">
        <a href="#" class="back" data-icon="arrow-l" data-mini="true">App</a>
        <h1>Crashes</h1>
        <a href="#crashes" data-theme="b" data-icon="check" data-iconpos="right" class="status" data-mini="true">Closed</a>
      </div>
      <div class="applicationName"></div>
      <div data-role="content"></div>
    </div>
    <script type="text/template" id="noCrashesTemplate">
      <h3>No crashes at this time.</h3>
    </script>
    <script type="text/template" id="crashEntryTemplate">
      <a href="#crash?id=<%= id %>&appId=<%= appId %>">
        <h1>#<%= number %> - Severity: <%= severity %> <%= status === 'closed' ? '(closed)' : '' %></h1>
        <p><%= RSKYBOX.format.longDate(lastUpdatedDate) %></p>
        <p>Local Endpoint: <%- localEndpoint %></p>
        <p>Remote Endpoint: <%- remoteEndpoint %></p>
        <p><%- name %></p>
        <p><%- message %></p></a>
    </script>

    <div data-role="page" id="crash" data-title="Crash">
      <div data-role="header">
        <a href="#" class="back" data-icon="arrow-l" data-mini="true">List</a>
        <h1>Crash</h1>
      </div>
      <div class="applicationName"></div>
      <div data-role="content"></div>
    </div>
    <script type="text/template" id="crashTemplate">
      <ul data-role="listview" data-inset="true">
        <li class="long-lines">#<%= number %> - <%- name %></li>
        <li>Severity: <%= severity %></li>
        <li>Local Endpoint: <%- localEndpoint %></li>
        <li>Remote Endpoint: <%- remoteEndpoint %></li>
        <li><%- message %></li>
        <li><%- summary %></li>
        <li>Created: <%= RSKYBOX.format.longDate(createdDate) %></li>
        <li>Updated: <%= RSKYBOX.format.longDate(lastUpdatedDate) %></li>
        <li>
          <button class="changeStatus" data-inline="true" data-theme="b" data-mini="true">
            <%= status === 'open' ? 'Close' : 'Re-open' %>
          </button>
        </li>
      </ul>
      <% if (events && events.crashes) { %>
        <p>
          <strong>Crashes (<%= eventCount %>)</strong>
        </p>
        <% events.crashes.forEach(function (crash) { %>
          <div data-role='collapsible' data-theme='c' data-content-theme='c' data-mini='true'>
            <h1>
              Detected: <%= RSKYBOX.format.compactDate(crash.date) %><br>
              <% if (crash.userName) { %>
                User: <%- crash.userName %>
              <% } %>
            </h1>
            <ul data-role="listview" data-inset="true">
              <% if (crash.instanceUrl) { %>
                <li class="long-lines">For: <%- crash.instanceUrl %></li>
              <% } %>
              <li>Summary: <%- crash.summary %></li>
              <li>User ID: <%- crash.userId %></li>
              <% if (crash.appActions) { %>
                <li>
                  <h3>App Actions (time - duration)</h3>
                  <% var on = false; %>
                  <% crash.appActions.forEach(function (action) { %>
                    <div style="background-color: <%= on ? 'beige' : 'transparent' %>;">
                      <%= RSKYBOX.format.timeOnly(action.timestamp) %>
                      <% if (action.duration != undefined) { %>
                        - <%= RSKYBOX.format.milliseconds(action.duration) %>
                      <% } %>
                      <br>
                      <%- action.description %>
                    </div>
                    <% on = !on; %>
                  <% }); %>
                </li>
              <% } %>
            </ul>
          Crash Stack Data: <a href="/crashStackData/<%= crash.appId %>/<%= crash.id %>.plcrash" data-ajax="false">plcrash file</a>
          </div>
        <% }); %>
      <% } %>
    </script>


    <!-- Members -->
    <div data-role="page" id="members" data-title="Members">
      <div data-role="header">
        <a href="#" class="back" data-icon="arrow-l" data-mini="true">App</a>
        <h1>Members</h1>
        <a href="#" class="new" data-icon="plus" data-iconpos="right" data-mini="true">New</a>
      </div>
      <div class="applicationName"></div>
      <div data-role="content"></div>
    </div>
    <script type="text/template" id="noMembersTemplate">
      <h3>No members at this time.</h3>
    </script>
    <script type="text/template" id="memberEntryTemplate">
      <a href="#member?id=<%= id %>&appId=<%= appId %>"><%- display %></a>
    </script>

    <div data-role="page" id="member" data-title="Member">
      <div data-role="header">
        <a href="#" class="back" data-icon="arrow-l" data-mini="true">List</a>
        <h1>Member</h1>
      </div>
      <div class="applicationName"></div>
      <div data-role="content"></div>
    </div>
    <script type="text/template" id="memberTemplate">
      <ul data-role="listview" data-inset="true">
        <li>Created: <%= RSKYBOX.format.longDate(date) %></li>
        <li>Email: <%- emailAddress %></li>
        <li>Phone: <%- phoneNumber %></li>
        <% if (role !== 'owner' && (admin === 'owner' || admin === 'manager')) { %>
          <li data-role="fieldcontain">
            <label for="role" class="ui-hidden-accessible">Role:</label>
            Role:
            <select name="role" class="role" data-mini="true">
              <option value="">Select Role</option>
              <option value="manager">Manager</option>
              <option value="member">Member</option>
            </select>
          </li>
        <% } else { %>
          <li>Role: <%= role %></li>
        <% } %>
        <li>Status: <%= status %></li>
      </ul>
      <% if (role !== 'owner' && (admin === 'owner' || admin === 'manager')) { %>
        <button class="delete" data-icon="delete" data-theme="a" data-mini="true">Delete Member</button>
      <% } %>
    </script>

    <!-- New Member -->
    <div data-role="page" id="newMember" data-title="New Member">
      <div data-role="header">
        <a href="#" class="back" data-icon="arrow-l" data-mini="true">Cancel</a>
        <h1>New Member</h1>
      </div>
      <div class="applicationName"></div>
      <div data-role="content">
      </div>
    </div>
    <script type="text/template" id="newMemberTemplate">
      <form id="newMemberForm">
        <ul data-role="listview" data-inset="true">
          <li data-role="fieldcontain">
            <label for="emailAddress">Email Address:</label>
            <input name="emailAddress" placeholder="Email Address" value="<%- emailAddress %>" autocorrect="off" autocapitalize="off" data-mini="true"></input>
          </li>
          <li data-role="fieldcontain">
            <label for="role">Role:</label>
            <select name="role" data-mini="true">
              <option value="">Select Role</option>
              <option value="manager">Manager</option>
              <option value="member">Member</option>
            </select>
          </li>
        </ul>
        <input type="submit" value="Save" data-mini="true">
      </form>
    </script>


    <!-- End Users -->
    <div data-role="page" id="endusers" data-title="End Users">
      <div data-role="header">
        <a href="#" class="back" data-icon="arrow-l" data-mini="true">App</a>
        <h1>End Users</h1>
      </div>
      <div class="applicationName"></div>
      <div data-role="content"></div>
    </div>
    <script type="text/template" id="noEndusersTemplate">
      <h3>No End Users at this time.</h3>
    </script>
    <script type="text/template" id="enduserEntryTemplate">
      <a href="#enduser?id=<%= id %>&appId=<%= appId %>"><%- userName %> : <%- version %></a>
    </script>

    <div data-role="page" id="enduser" data-title="End User">
      <div data-role="header">
        <a href="#" class="back" data-icon="arrow-l" data-mini="true">List</a>
        <h1>End User</h1>
      </div>
      <div class="applicationName"></div>
      <div data-role="content"></div>
    </div>
    <script type="text/template" id="enduserTemplate">
      <ul data-role="listview" data-inset="true">
        <li>User ID: <%- userId %></li>
        <li>Username: <%- userName %></li>
        <li>Application: <%- application %></li>
        <li>Version: <%- version %></li>
        <li>Summary: <%- summary %></li>
        <% if (instanceUrl) { %>
          <li>For: <%- instanceUrl %></li>
        <% } %>
      </ul>
    </script>

  </body>
</html>
